<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{{ page.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <script type="text/javascript">
      userAgent = window.navigator.userAgent;
      browserVers = parseInt(userAgent.charAt(userAgent.indexOf("/") + 1), 10);
      function newImage(arg) {
        if (document.images) {
          rslt = new Image();
          rslt.src = arg;
          return rslt;
        }
      }

      function findElement(n, ly) {
        if (browserVers < 4) return document[n];
        var curDoc = ly ? ly.document : document;
        var elem = curDoc[n];
        if (!elem) {
          for (var i = 0; i < curDoc.layers.length; i++) {
            elem = findElement(n, curDoc.layers[i]);
            if (elem) return elem;
          }
        }
        return elem;
      }

      function changeImages() {
        if (document.images && preloadFlag == true) {
          var img;
          for (var i = 0; i < changeImages.arguments.length; i += 2) {
            img = null;
            if (document.layers) {
              img = findElement(changeImages.arguments[i], 0);
            } else {
              img = document.images[changeImages.arguments[i]];
            }
            if (img) {
              img.src = changeImages.arguments[i + 1];
            }
          }
        }
      }

      var preloadFlag = false;
      function preloadImages() {
        if (document.images) {
          entrance_over = newImage(
            "/assets/{{ page.style }}/img/entrance-over.jpg"
          );
          addressbook_over = newImage(
            "/assets/{{ page.style }}/img/addressbook-over.jpg"
          );
          articles_over = newImage(
            "/assets/{{ page.style }}/img/articles-over.jpg"
          );
          contacts_over = newImage(
            "/assets/{{ page.style }}/img/contacts-over.jpg"
          );
          education_over = newImage(
            "/assets/{{ page.style }}/img/education-over.jpg"
          );
          family_over = newImage(
            "/assets/{{ page.style }}/img/family-over.jpg"
          );
          guestbook_over = newImage(
            "/assets/{{ page.style }}/img/guestbook-over.jpg"
          );
          members_over = newImage(
            "/assets/{{ page.style }}/img/members-over.jpg"
          );
          music_over = newImage("/assets/{{ page.style }}/img/music-over.jpg");
          projects_over = newImage(
            "/assets/{{ page.style }}/img/projects-over.jpg"
          );
          resume_over = newImage(
            "/assets/{{ page.style }}/img/resume-over.jpg"
          );
          sitelife_over = newImage(
            "/assets/{{ page.style }}/img/sitelife-over.jpg"
          );
          preloadFlag = true;
        }
      }
    </script>
  </head>
  <body id="{{ page.style }}" onload="preloadImages();">
    <div class="Table_01">
      <div class="crumbbg_">
        <img
          id="crumbbg"
          src="/assets/{{ page.style }}/img/crumbbg.jpg"
          width="800"
          height="25"
          alt=""
        />
      </div>
      <div class="header_">
        <img
          id="header"
          class="image_class"
          src="/assets/{{ page.style }}/img/header.jpg"
          alt=""
        />
      </div>
      <div id="myDiv0" class="entrance_">
        <a
          href="/"
          onmouseover="changeImages('entrance', '/assets/{{ page.style }}/img/entrance-over.jpg'); return true;"
          onmouseout="changeImages('entrance', '/assets/{{ page.style }}/img/entrance.jpg'); return true;"
          onmousedown="changeImages('entrance', '/assets/{{ page.style }}/img/entrance-over.jpg'); return true;"
          onmouseup="changeImages('entrance', '/assets/{{ page.style }}/img/entrance-over.jpg'); return true;"
        >
          <img
            name="entrance"
            id="entrance"
            class="entrance_img"
            src="/assets/{{ page.style }}/img/entrance.jpg"
            alt="Entrance"
        /></a>
      </div>
      <div
        class="contentpane_background_"
        style="background-image: url(/assets/{{ page.style }}/img/contentpane.jpg);"
      >
        <div
          type="button"
          name="answer"
          onclick="ShowDiv()"
          class="contentpane_button_"
        >
          Menu
        </div>
        <div class="contentpane_head_">
          <p id="site_title_">{{ site.title }} - {{ site.description }}</p>
          <h1>{{ page.title }}</h1>
          <p><em>{{ page.date | date: "%G-W%V-%u (%Y-%m-%d %A)" }}</em></p>
        </div>
        <div class="contentpane_text_">{{ content }}</div>
      </div>

      <div id="myDiv" class="addressbook_">
        <a
          href="/addressbook/"
          onmouseover="changeImages('addressbook', '/assets/{{ page.style }}/img/addressbook-over.jpg'); return true;"
          onmouseout="changeImages('addressbook', '/assets/{{ page.style }}/img/addressbook.jpg'); return true;"
          onmousedown="changeImages('addressbook', '/assets/{{ page.style }}/img/addressbook-over.jpg'); return true;"
          onmouseup="changeImages('addressbook', '/assets/{{ page.style }}/img/addressbook-over.jpg'); return true;"
        >
          <img
            name="addressbook"
            id="addressbook"
            class="addressbook_img"
            src="/assets/{{ page.style }}/img/addressbook.jpg"
            alt="Addressbook"
        /></a>
      </div>
      <div id="myDiv1" class="articles_">
        <a
          href="/articles/"
          onmouseover="changeImages('articles', '/assets/{{ page.style }}/img/articles-over.jpg'); return true;"
          onmouseout="changeImages('articles', '/assets/{{ page.style }}/img/articles.jpg'); return true;"
          onmousedown="changeImages('articles', '/assets/{{ page.style }}/img/articles-over.jpg'); return true;"
          onmouseup="changeImages('articles', '/assets/{{ page.style }}/img/articles-over.jpg'); return true;"
        >
          <img
            name="articles"
            id="articles"
            src="/assets/{{ page.style }}/img/articles.jpg"
            class="articles_img"
            alt="Articles"
        /></a>
      </div>
      <div id="myDiv2" class="contacts_">
        <a
          href="/contacts/"
          onmouseover="changeImages('contacts', '/assets/{{ page.style }}/img/contacts-over.jpg'); return true;"
          onmouseout="changeImages('contacts', '/assets/{{ page.style }}/img/contacts.jpg'); return true;"
          onmousedown="changeImages('contacts', '/assets/{{ page.style }}/img/contacts-over.jpg'); return true;"
          onmouseup="changeImages('contacts', '/assets/{{ page.style }}/img/contacts-over.jpg'); return true;"
        >
          <img
            name="contacts"
            id="contacts"
            src="/assets/{{ page.style }}/img/contacts.jpg"
            class="contacts_img"
            alt="Contacts"
        /></a>
      </div>
      <div id="myDiv3" class="education_">
        <a
          href="/education/"
          onmouseover="changeImages('education', '/assets/{{ page.style }}/img/education-over.jpg'); return true;"
          onmouseout="changeImages('education', '/assets/{{ page.style }}/img/education.jpg'); return true;"
          onmousedown="changeImages('education', '/assets/{{ page.style }}/img/education-over.jpg'); return true;"
          onmouseup="changeImages('education', '/assets/{{ page.style }}/img/education-over.jpg'); return true;"
        >
          <img
            name="education"
            id="education"
            src="/assets/{{ page.style }}/img/education.jpg"
            class="education_img"
            alt="Education"
        /></a>
      </div>
      <div id="myDiv4" class="family_">
        <a
          href="/family/"
          onmouseover="changeImages('family', '/assets/{{ page.style }}/img/family-over.jpg'); return true;"
          onmouseout="changeImages('family', '/assets/{{ page.style }}/img/family.jpg'); return true;"
          onmousedown="changeImages('family', '/assets/{{ page.style }}/img/family-over.jpg'); return true;"
          onmouseup="changeImages('family', '/assets/{{ page.style }}/img/family-over.jpg'); return true;"
        >
          <img
            name="family"
            id="family"
            src="/assets/{{ page.style }}/img/family.jpg"
            class="family_img"
            alt="Family"
        /></a>
      </div>
      <div id="myDiv5" class="guestbook_">
        <a
          href="/guestbook/"
          onmouseover="changeImages('guestbook', '/assets/{{ page.style }}/img/guestbook-over.jpg'); return true;"
          onmouseout="changeImages('guestbook', '/assets/{{ page.style }}/img/guestbook.jpg'); return true;"
          onmousedown="changeImages('guestbook', '/assets/{{ page.style }}/img/guestbook-over.jpg'); return true;"
          onmouseup="changeImages('guestbook', '/assets/{{ page.style }}/img/guestbook-over.jpg'); return true;"
        >
          <img
            name="guestbook"
            id="guestbook"
            src="/assets/{{ page.style }}/img/guestbook.jpg"
            class="guestbook_img"
            alt="Guestbook"
        /></a>
      </div>
      <div id="myDiv6" class="members_">
        <a
          href="/members/"
          onmouseover="changeImages('members', '/assets/{{ page.style }}/img/members-over.jpg'); return true;"
          onmouseout="changeImages('members', '/assets/{{ page.style }}/img/members.jpg'); return true;"
          onmousedown="changeImages('members', '/assets/{{ page.style }}/img/members-over.jpg'); return true;"
          onmouseup="changeImages('members', '/assets/{{ page.style }}/img/members-over.jpg'); return true;"
        >
          <img
            name="members"
            id="members"
            src="/assets/{{ page.style }}/img/members.jpg"
            class="members_img"
            alt="Members"
        /></a>
      </div>
      <div id="myDiv7" class="music_">
        <a
          href="/music/"
          onmouseover="changeImages('music', '/assets/{{ page.style }}/img/music-over.jpg'); return true;"
          onmouseout="changeImages('music', '/assets/{{ page.style }}/img/music.jpg'); return true;"
          onmousedown="changeImages('music', '/assets/{{ page.style }}/img/music-over.jpg'); return true;"
          onmouseup="changeImages('music', '/assets/{{ page.style }}/img/music-over.jpg'); return true;"
        >
          <img
            name="music"
            id="music"
            src="/assets/{{ page.style }}/img/music.jpg"
            class="music_img"
            alt="Music"
        /></a>
      </div>
      <div id="myDiv8" class="projects_">
        <a
          href="/projects/"
          onmouseover="changeImages('projects', '/assets/{{ page.style }}/img/projects-over.jpg'); return true;"
          onmouseout="changeImages('projects', '/assets/{{ page.style }}/img/projects.jpg'); return true;"
          onmousedown="changeImages('projects', '/assets/{{ page.style }}/img/projects-over.jpg'); return true;"
          onmouseup="changeImages('projects', '/assets/{{ page.style }}/img/projects-over.jpg'); return true;"
        >
          <img
            name="projects"
            id="projects"
            src="/assets/{{ page.style }}/img/projects.jpg"
            class="projects_img"
            alt="Projects"
        /></a>
      </div>
      <div id="myDiv9" class="resume_">
        <a
          href="/resume/"
          onmouseover="changeImages('resume', '/assets/{{ page.style }}/img/resume-over.jpg'); return true;"
          onmouseout="changeImages('resume', '/assets/{{ page.style }}/img/resume.jpg'); return true;"
          onmousedown="changeImages('resume', '/assets/{{ page.style }}/img/resume-over.jpg'); return true;"
          onmouseup="changeImages('resume', '/assets/{{ page.style }}/img/resume-over.jpg'); return true;"
        >
          <img
            name="resume"
            id="resume"
            src="/assets/{{ page.style }}/img/resume.jpg"
            class="resume_img"
            alt="Resume"
        /></a>
      </div>
      <div id="myDiv10" class="sitelife_">
        <a
          href="/sitelife/"
          onmouseover="changeImages('sitelife', '/assets/{{ page.style }}/img/sitelife-over.jpg'); return true;"
          onmouseout="changeImages('sitelife', '/assets/{{ page.style }}/img/sitelife.jpg'); return true;"
          onmousedown="changeImages('sitelife', '/assets/{{ page.style }}/img/sitelife-over.jpg'); return true;"
          onmouseup="changeImages('sitelife', '/assets/{{ page.style }}/img/sitelife-over.jpg'); return true;"
        >
          <img
            name="sitelife"
            id="sitelife"
            class="sitelife_img"
            src="/assets/{{ page.style }}/img/sitelife.jpg"
            class="sitelife_img"
            alt="Sitelife"
        /></a>
      </div>
      <div id="myDiv11" class="nav-bottom_">
        <img
          id="nav_bottom"
          src="/assets/{{ page.style }}/img/nav_bottom.jpg"
          class="navbottom_img"
          alt=""
        />
      </div>
    </div>
    <script>
      function ShowDiv() {
        var x = document.getElementById("myDiv");
        var x0 = document.getElementById("myDiv0");
        var x1 = document.getElementById("myDiv1");
        var x2 = document.getElementById("myDiv2");
        var x3 = document.getElementById("myDiv3");
        var x4 = document.getElementById("myDiv4");
        var x5 = document.getElementById("myDiv5");
        var x6 = document.getElementById("myDiv6");
        var x7 = document.getElementById("myDiv7");
        var x8 = document.getElementById("myDiv8");
        var x9 = document.getElementById("myDiv9");
        var x10 = document.getElementById("myDiv10");
        var x11 = document.getElementById("myDiv11");

        if ((x.className = "addressbook_")) {
          x.className = "a";
          x0.className = "a0";
          x1.className = "a1";
          x2.className = "a2";
          x3.className = "a3";
          x4.className = "a4";
          x5.className = "a5";
          x6.className = "a6";
          x7.className = "a7";
          x8.className = "a8";
          x9.className = "a9";
          x10.className = "a10";
          x11.className = "a11";
        } else {
          x.className = "addressbook_";
          x0.className = "entrance_";
          x1.className = "articles_";
          x2.className = "contacts_";
          x3.className = "education_";
          x4.className = "family_";
          x5.className = "guestbook_";
          x6.className = "members_";
          x7.className = "music_";
          x8.className = "projects_";
          x9.className = "resume_";
          x10.className = "sitelife_";
          x11.className = "nav-bottom_";
        }
      }
    </script>
  </body>
</html>
